
/* ---- MAIN -----*/
.main-content{
    margin-top: 200px;
}

.main-content h1{
    font-family: 'playfair display', sans-serif;
    font-size: 40px;
    color: #D2B48C;
    font-weight: 700;
    text-align: center;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.content{
    background-color: white;
    box-shadow: 0 0 0 1px #D2B48C;
    color: #404852;
    margin: 1rem 0;
    border-radius: 10px;
}

.content.active{
    background-color: #D2B48C
}

.content.active .header {
    color: #584C3B;
}

.content.active .header::after {
    color: #584C3B;
}

.header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Montserrat' sans-serif;
    color: #404852;        
    font-weight: 600;
}

.header::after{
    content: "\f078";
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    font-family: 'FontAwesome';
}

.header.active::after{
    content: "\f077";
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    font-family: 'FontAwesome';
}

.body{
    max-height: 0;
    overflow: hidden;
    transitiion: max-height 0.2s ease out;
}

.body-content{
    padding: 1rem;
    line-height: 1.5rem;
    font-size: 14px;
    font-family: 'Montserrat' sans-serif;
    color: black;        
    font-weight: 400;
}
/* ---- MAIN -----*/