*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100vh;
}


/* ----- HEADER -----*/
.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: transparant;
    backdrop-filter: blur(10px);
}
.navbar-icons{
    margin-left: 15px;
    font-size: 1.4em;
    color: #404852;
    margin-right: 15px;
}

.navbar-icons .nav-link:not(:last-child) {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #D2B48C;
    font-weight: 600;
}

.nav-link.active {
    color: #D2B48C;
    font-weight: 600;
}

.nav-link:hover{
    color: #D2B48C;
    font-weight: 600;
}

.search-bar {
    width: 300px;
    height: 35px;
    padding: 5px 15px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1); 
}

.input-search{
    font-size: 12px;
    font-family: 'Montserrat' sans serif;
}

.input-search::placeholder{
    font-size: 14px;
    font-family: 'Montserrat' sans serif;
}

.search-bar input{
    border: none;
    outline: none;
    background: none;
}

.search-bar a{
   color: #828282;
}

.search-input {
    border-radius: 100px;
    padding-right: 40px;
    border: none;
}

/* ----- Main Content -----*/
.main-content {
    padding: 100px 0;
    text-align: center;
    margin-top: 50px;
}

.profile {
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}

.main-content .container h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: #D2B48C;
    font-weight: 700;
}

.profile-details {
    background-color: #EADDCA;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 582px;
    height: auto;
    padding: 30px 25px;
}

.detail-item {
    margin-bottom: 10px;
}

.detail-item .title {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.detail-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    color: #111111;
}

.btn-edit{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 287px;
    height: 33px;
    border-radius: 100px;
    padding: 0 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(210, 180, 140, 0.25);
    display: block;
    margin: 20px auto;
}

.btn-edit:hover{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 287px;
    height: 33px;
    border-radius: 100px;
    padding: 0 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(210, 180, 140, 0.25);
    display: block;
    margin: 20px auto;
}
/* ----- Main Content -----*/

/* ----- FOOTER -----*/
.footer{
    background-color: #D2B48C;
    margin-top: 60px;
    padding-bottom: 40px;
    padding-top: 50px;
}
.footer-content{
    display: flex;
    flex-direction: column;
}
.footer-content h1{
    font-family: 'Montserrat' sans serif;
    font-size: 20px;
    font-weight: 600;
}
.footer-content a{
    font-family: 'Montserrat' sans serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}
.footer-content a:hover{
    color: #584C3B;
    font-weight: 400;
}
.sosial-media a {
    margin-right: 10px;
}
.sosial-media a:last-child {
    margin-right: 0; 
}
/* ----- FOOTER -----*/