body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

/* ----- HEADER -----*/
.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
.navbar-icons{
    margin-left: 15px;
    font-size: 1.4em;
    color: #404852;
    margin-right: 15px;
}

.login-link {
    font-size: 18px;
    font-weight: 500;
}

.navbar-icons .nav-link:not(:last-child) {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #D2B48C;
    font-weight: 600;
}

.nav-link:hover{
    color: #D2B48C;
    font-weight: 600;
}

.logout-link {
    color: red;
}

.logout-link:hover {
    color: #FD6969 !important;
}

.logout-link:active {
    color: #FD6969 !important;
}