body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

/* ----- HEADER -----*/
.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
.navbar-icons{
    margin-left: 15px;
    font-size: 1.4em;
    color: #404852;
    margin-right: 15px;
}

.login-link {
    font-size: 18px;
    font-weight: 500;
}

.navbar-icons .nav-link:not(:last-child) {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #D2B48C;
    font-weight: 600;
}

.nav-link:hover{
    color: #D2B48C;
    font-weight: 600;
}

.dropdown-menu {
    width: auto; /* Sesuaikan dengan isi */
    padding: 0.5rem 1rem; /* Padding dapat disesuaikan */
    min-width: unset; /* Menghapus min-width default Bootstrap */
}

.dropdown-menu .dropdown-item{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.dropdown-menu .dropdown-item:hover{
    font-weight: 600;
}

.logout-link {
    color: red;
}

.logout-link:hover {
    color: red;
}

.search-bar {
    width: 300px;
    height: 35px;
    padding: 5px 15px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1); 
}

.input-search{
    font-size: 12px;
    font-family: 'Montserrat' sans serif;
}

.input-search::placeholder{
    font-size: 14px;
    font-family: 'Montserrat' sans serif;
}

.search-bar input{
    border: none;
    outline: none;
    background: none;
}

.search-bar a{
   color: #828282;
}

.search-input {
    border-radius: 100px;
    padding-right: 40px;
    border: none;
}

/* ----- FOOTER -----*/
.footer{
    background-color: #D2B48C;
    margin-top: 60px;
    padding-bottom: 40px;
    padding-top: 50px;
}
.footer-content{
    display: flex;
    flex-direction: column;
}
.footer-content h1{
    font-family: 'Montserrat' sans serif;
    font-size: 20px;
    font-weight: 600;
}
.footer-content a{
    font-family: 'Montserrat' sans serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}
.footer-content a:hover{
    color: #584C3B;
    font-weight: 400;
}
.sosial-media a {
    margin-right: 10px;
}
.sosial-media a:last-child {
    margin-right: 0; 
}
/* ----- FOOTER -----*/