.body {
    width: 100%;
    height: 100vh;
}

/* ----- HEADER -----*/
.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: #D2B48C;
    backdrop-filter: blur(10px);
}

.navbar-icons{
    margin-left: 15px;
    font-size: 1.4em;
    color: #404852;
    margin-right: 15px;
}

.login-link {
    font-size: 18px;
    font-weight: 500;
}

.navbar-icons .nav-link:not(:last-child) {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: #584C3B;
    font-weight: 600;
}

.nav-link:hover{
    color: #584C3B;
    font-weight: 600;
}

.dropdown-menu {
    width: auto; /* Sesuaikan dengan isi */
    padding: 0.5rem 1rem; /* Padding dapat disesuaikan */
    min-width: unset; /* Menghapus min-width default Bootstrap */
}

.dropdown-menu .dropdown-item{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.dropdown-menu .dropdown-item:hover{
    font-weight: 600;
}

.logout-link {
    color: red;
}

.logout-link:hover {
    color: red;
}

.search-bar {
    width: 300px;
    height: 35px;
    padding: 5px 15px;
    background-color: white;
    border-radius: 50px;
}

.input-search{
    font-size: 12px;
    font-family: 'Montserrat' sans serif;
}

.input-search::placeholder{
    font-size: 14px;
    font-family: 'Montserrat' sans serif;
}

.search-bar input{
    border: none;
    outline: none;
    background: none;
}

.search-bar button{
   color: #828282;
   background: none;
   border: none;
}

.search-bar button:hover{
   color: #828282;
}

.search-input {
    border-radius: 100px;
    padding-right: 40px;
    border: none;
}

.header-content{
    background-color: #D2B48C;
    padding-top: 20px;
}

.slogan h1{
    font-family: 'playfair display', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.slogan p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn-kustom {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #BFA47F;
    width: auto;
    height: 33px;
    border-radius: 100px;
    margin-top: auto;
    box-shadow: 0 5px 10px rgba(210, 180, 140, 0.5);
    outline: none; 
    border: none;
}

.btn-kustom:hover {
    color: black;
    background-color: #958063;
}

.btn-kustom:active {
    color: black;
    background-color: #958063;
}

.header-image {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 170px;
    background-color: #958063;
    border-radius: 500px;
    width: 350px;
    height: 350px;
    display: flex; /* Menggunakan Flexbox */
    justify-content: center; /* Memusatkan konten secara horizontal */
    align-items: center; 
}

.header-image img {
    display: block;
    margin: 0 auto;
    width: 70%; 
    height: auto;
}
/* ----- HEADER -----*/

/* ----- CONTENT 1-----*/
.content-1{
    margin-top: 20px;
}
.imageabout img{
    width: 352px;
    height: 251px;
}

.teks h1{
    text-align: center;
    margin-bottom: 20px;
    color: #958063;
    font-family: 'playfair display', sans-serif;
    font-size: 34px;
    font-weight: 600;
}

.teks p{
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
/* ----- CONTENT 1-----*/

/* ----- CONTENT 2-----*/
.content-2{
    margin-top: 100px;
    padding-bottom: 30px;
}

.content-2 h1{
    text-align: center;
    color: #958063;
    font-family: 'playfair display', sans-serif;
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 40px;
}

.produk {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.produk-img {
    width: 200px; /* Ubah sesuai kebutuhan */
    height: 200px; /* Ubah sesuai kebutuhan */
    object-fit: cover;
    border-radius: 50%; /* Membuat gambar berbentuk lingkaran */
    margin-bottom: 15px; /* Spasi antara gambar dan teks */
}

.produk p {
    color: #958063;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.btn-produk {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: auto;
    height: 33px;
    border-radius: 100px;
    margin-top: auto;
    box-shadow: 0 5px 10px rgba(210, 180, 140, 0.5);
    outline: none; 
    border: none;
}

.btn-produk:hover {
    color: black;
    background-color: #BFA47F;
}

.btn-produk:active {
    color: black;
    background-color: #BFA47F;
}
/* ----- CONTENT 2-----*/

/* ----- CONTENT 3-----*/
.momen-area {
    background-image: 
        url('http://localhost/cokelatcantique/public/img/bg-img.png');
    background-size: 100%;
    padding: 20px; /* Jarak dalam bagian */
    text-align: center;
    margin-top: 20px;
}

.momen-title h1{
    text-align: center;
    margin-bottom: 15px;
    color: #000;
    font-family: 'playfair display', sans-serif;
    font-size: 34px;
    font-weight: 600;
}

.momen-title p{
    text-align: center;
    margin-bottom: 50px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.moment-content {
    display: flex; /* Menggunakan Flexbox untuk tata letak */
    flex-direction: row; /* Mengatur elemen dalam kolom */
    justify-content: center;
}

.momen-isi {
    display: flex; /* Menggunakan Flexbox untuk setiap momen */
    align-items: center; /* Rata tengah secara vertikal */
    justify-content: center;
    margin-right: 10px;
    margin-bottom: -40px;
}

.momen-info {
    display: flex; /* Menggunakan Flexbox untuk setiap momen-info */
    align-items: start; /* Rata tengah secara vertikal */
    text-align: left;
}

.img-moment {
    flex: 1; /* Mengambil ruang yang tersedia */
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.img-moment img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.text-moment {
    flex: 2; /* Mengambil ruang yang lebih besar */
    margin: 0;
    text-align: start;
}

.text-moment h5{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.text-moment p{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
/* ----- CONTENT 3-----*/

/* ----- CONTENT 4-----*/
.testimonia-area{
    display: flex;
    justify-conten: center;
    align-items: center;
    margin-top: 20px;
}

.testimonial-area .container{
    margin: auto;
    max-width: 1140px;
    width: 100%;
    text-align: center;
}

.testimonial-area .container .sec-title{
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.testimonial-area .container .sec-title h1{
    color: #958063;
    font-family: 'playfair display', sans-serif;
    font-size: 34px;
    font-weight: 600;
}

.testimonial-area{
    position: relative;
    z-index: 2;
    padding: 50px 0px;
}

.testimonial-area .owl-carousel{
    overflow: hidden;
    padding: 0px 20px;
}

.testimonial-area .owl-carousel .owl-stage-outer{
    padding: 30px 50px;
    margin-left: -35px;
    width: calc(100% + 100px);
}

.testimonial-area .single-testimonial{
    border: 7px solid #D2B48C;
    text-align: center;
    border-radius: 45px;
    position: relative;
    z-index: 2;
}

.testimonial-area .single-testimonial p{
    color: black;
    font-size: 16px;
    line-height: 24px;
    padding: 50px;
    padding-bottom: 30px;
    position: relative;
    z-index: 3;
}

.user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.user-info .user-detail h6{
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.user-info .user-detail span{
    color: black;
    display: inline-block;
    font-size: 14px;
    color: #828282;
}

.user-info .user-image{
    padding-right: 15px;
}

.user-info .user-image img{
    width: 100%;
    border-radius: 50px;
}

.single-testimonial:before{
    content: '\f10d';
    font-family: FontAwesome;
    position: absolute;
    left: -35px;
    top: -35px;
    background: white;
    color: #D2B48C;
    font-size: 80px;
    width: 126px;
    height: 100px;
}

.single-testimonial:after{
    content: '\f10e';
    font-family: FontAwesome;
    position: absolute;
    right: -35px;
    bottom: -35px;
    background: white;
    color: #D2B48C;
    font-size: 80px;
    width: 126px;
    height: 100px;
}

.btn-testimoni {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: auto;
    height: 33px;
    border-radius: 100px;
    margin-top: 30px;
    box-shadow: 0 5px 10px rgba(210, 180, 140, 0.5);
    outline: none; 
    border: none;
    display: inline-block;
}

.btn-testimoni:hover {
    color: black;
    background-color: #BFA47F;
}

.btn-testimoni:active {
    color: black;
    background-color: #BFA47F;
}
/* ----- CONTENT 4-----*/

/* Modal (Pop Up) */
.modal-body {
    display: flex;
    flex-direction: column; /* Mengatur elemen menjadi kolom */
}

.modal-body .d-flex {
    align-items: center; /* Menyelaraskan foto dan informasi karakter di tengah */
}

/* Menghilangkan garis bawah pada judul */
.modal-header .modal-title {
    border-bottom: none; /* Hilangkan border bawah jika ada */
}

.modal-header {
    display: flex; /* Menggunakan flexbox untuk mengatur elemen */
    flex-direction: column; /* Mengatur elemen dalam kolom */
}

.modal-header h5{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #D2B48C;
    margin-bottom: 10px; 
}

.modal-header p{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.modal-body p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.modal-body label{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #404852;
    font-weight: 600;
    margin-bottom: 5px;
    display: block; 
}

.modal-body textarea{
    width: 100%; /* Mengatur lebar textarea agar sesuai dengan kontainer */
    height: 100px; /* Mengatur tinggi textarea sesuai kebutuhan */
}

.modal-footer{
    display: flex;
    justify-content: space-between; 
}

.btn-kirim {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 150px;
    height: 33px;
    border-radius: 100px;
    margin-top: auto;
    box-shadow: 0 5px 10px rgba(210, 180, 140, 0.5);
    outline: none; 
    border: none;
}

.btn-kirim:hover {
    color: black;
    background-color: #BFA47F;
}

.btn-kirim:active {
    color: black;
    background-color: #BFA47F;
}

/* SweetAlert Custom Styles */
.swal2-popup {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; /* Ukuran font yang lebih kecil */
}

.swal2-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; /* Ukuran font yang lebih kecil untuk judul */
}

.swal2-confirm, .swal2-cancel {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; /* Ukuran font yang lebih kecil untuk tombol */
}


/* ----- FOOTER -----*/
.footer{
    background-color: #D2B48C;
    margin-top: -5px;
    padding-bottom: 40px;
}
.footer-content{
    display: flex;
    flex-direction: column;
}
.footer-content h1{
    font-family: 'Montserrat' sans serif;
    font-size: 20px;
    font-weight: 600;
}
.footer-content a{
    font-family: 'Montserrat' sans serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}
.footer-content a:hover{
    color: #584C3B;
    font-weight: 400;
}
.sosial-media a {
    margin-right: 10px;
}
.sosial-media a:last-child {
    margin-right: 0; 
}
/* ----- FOOTER -----*/