
/* ----- Main Content -----*/
.main-content {
    margin-top: 150px;
    margin-bottom:50px;
}

.btn.button-back {
    color: #D2B48C;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    outline: none; 
    border: none;
}

.btn.button-back i {
    color: #D2B48C;
    margin-right: 20px;
}

.btn.button-back:hover,
.btn.button-back i:hover,
.btn.button-back:active,
.btn.button-back i:active {
    color: #BFA47F;
}

.header h2 {
    font-family: 'playfair display', sans-serif;
    font-size: 36px;
    color: black;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.produk-content {
    display: flex; /* Ensure flexbox is used */
    gap: 25px; /* Space between image and detail */
}

.produk-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    flex: 0 0 400px;
    padding: 0px;
    box-sizing: border-box; /* Pastikan padding dan border dihitung dalam lebar */
    margin-right: 25px;
}

.produk-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.produk-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.produk-detail .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: black;
    font-weight: 700;
    margin-bottom: 10px; /* Kurangi margin bawah */
}

.produk-detail .kategori {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #958063;
    margin-bottom: 10px; /* Sesuaikan jaraknya sesuai kebutuhan */
}

.deskripsi {
    margin-top: 5px;
    width: 90%;
}

.details p{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8E8E93;
    line-height: 20px;
}

.related-products {
    margin-top: 150px;
}

.related-products h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #404852;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.card{
    width: 225px;
    height: 265px;
    border-radius: 12px;
    box-shadow: 0 0 0 3px #DBC3A3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produk-card img{
    width: 225px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.card-body{
    width: 224px;
    height: 143px;
    border-radius: 12px;
    background-color: rgba(210, 180, 140, 0.5);
    position: relative;
    top: -65px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.card-body h5{
    font-family: 'Montserrat' sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.card-body p{
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #404852;
}

.button-detail {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 200px;
    height: 33px;
    border-radius: 100px;
    margin-top: auto;
    box-shadow: 0 5px 10px rgba(210, 180, 140, 0.5);
    outline: none;
    border: none;
}

.button-detail:hover {
    background-color: #BFA47F;
    color: black;
}

.button-detail:active {
    background-color: #BFA47F;
    color: black;
}

.related-detail .owl-carousel{
    overflow: hidden;
    padding: 0px 20px;
}

.owl-carousel .owl-stage-outer{
    padding: 30px 50px;
    margin-left: -35px;
    width: calc(100% + 100px);
}


/* ----- Main Content -----*/