*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ----- Main Content -----*/
.main-content {
    padding: 100px 0;
    text-align: center;
    margin-top: 50px;
}

.profile {
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 582px;
}

.main-content .content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 30px;
    color: #D2B48C;
    font-weight: 700;
}

.profile-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 582px;
    height: auto;
    padding: 30px 25px;
}

.form-label {
    font-size: 14px;
    font-weight: 600;
}

.row {
    margin-bottom: 15px;
}

.address-note{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #AAA;
    font-weight: 400;
}

.profile input[type="text"],
.profile input[type="file"],
.profile textarea {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.profile input[type="text"]:focus,
.profile textarea:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-cancel{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #f24848;
    background-color: #fff;
    border-radius: 100px;
    margin-right: 30px;
    border: 1px solid #f24848;
    width: 180px;
    height: 33px;
}

.btn-cancel:hover{
    color: #fff;
    background-color: #f24848;
    box-shadow: 0 2px 5px #f24848;
}

.btn-cancel:active{
    color: #fff;
    background-color: #f24848;
    box-shadow: 0 2px 5px #f24848;
}

.btn-submit{
    font-family: 'Montserrat', sans-serif;
    background: #D2B48C;
    color: black;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(210, 180, 140, 0.5);
    font-weight: 600;
    font-size: 14px;
    outline: none; 
    border: none;
    width: 180px;
    height: 33px;
}

.btn-submit:hover{
    color: black;
    background-color: #BFA47F;
}

.btn-submit:active{
    color: black;
    background-color: #BFA47F;
}

.detail-item {
    margin-bottom: 10px;
}

.detail-item .title {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.detail-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    color: #111111;
}
/* ----- Main Content -----*/

/* SweetAlert Custom Styles */
.swal2-popup {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; /* Ukuran font yang lebih kecil */
}

.swal2-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; /* Ukuran font yang lebih kecil untuk judul */
}

.swal2-confirm, .swal2-cancel {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; /* Ukuran font yang lebih kecil untuk tombol */
}