/* ----- Main Content -----*/
.main-content {
    margin-top: 150px;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img{
    width: 1152px;
    height: 261px;
    object-fit: cover;
    border-radius: 15px;
}

.banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.1); /* Black overlay with 50% opacity */
}

.banner .main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.content{
    margin-top: 100px;
}

.content h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #958063;
    font-family: 'playfair display', sans-serif;
    font-size: 34px;
    font-weight: 600;
}

.content p {
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.content-image img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

/* ----- Main Content -----*/