*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

/* ----- Main Content -----*/
.main-content {
    margin-top: 150px;
}

.main-content .container h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.produk-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}

.produk-histori{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.nama-gambar{
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.nama-gambar .produk-nama h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.nama-gambar .produk-nama .produk-karakter p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    padding: 0;
    margin: 0;
}

.produk-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.produk-harga {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.produk-harga p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.status-pending {
    color: #FFCC00; /* Warna kuning untuk status pending */
}

.status-accepted {
    color: #219653;
}

.status-rejected {
    color: #F24848; /* Warna merah untuk status rejected */
}

.total {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    text-align: right;
    align-items: center; /* Agar vertikalnya rata */
    justify-content: flex-end;
}

.produk-total p {
    margin: 0 10px; /* Memberikan jarak antar teks */
    font-family: 'Montserrat', sans-serif;
}

.total-label {
    font-size: 16px;
    font-weight: 500;
    color: #aaa;
}

.total-amount {
    font-size: 20px;
    font-weight: 700;
    color: #D2B48C;
}

.btn-login{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 200px;
    height: 33px;
    border-radius: 100px;
    padding: 0 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(210, 180, 140, 0.5);
    display: block;
    margin: 20px auto;
    text-align: center; /* Menyelaraskan teks secara horizontal */
    line-height: 33px;
    outline: none; 
    border: none;
}

.btn-login:hover{
    color: black;
    background-color: #BFA47F;
}

.btn-login:active{
    color: black;
    background-color: #BFA47F;
}