*, body{
    font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container-fluid{
    height: 100vh;
}

#sideleft{
    background-color: #D2B48C;
    background-size: cover;
    backgroud-repeat: no-repeat;
}

#sideleft .logo{
    margin-top: 20px;
    margin-left: 50px;
}

#sideleft .body{
    margin-top: 20px;
    margin-left: 50px;
    color: black;
    text-align: center;
}

#sideleft .body h1{
    font-size: 28px;
    font-weight: 700;
    align-items: center;
}

#sideleft .body h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 52px;
}

#sideleft .body p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.user-images img{
    margin-right: -20px;
}


#sideright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#sideright .body {
    width: 100%;
    max-width: 400px; /* Ensure a consistent max-width */
    margin: 0 auto; /* Center the body content */
    text-align: center;
}

#sideright .body h1{
    font-size: 32px;
    font-weight: 700;
}

#sideright .body p{
    font-size: 16px;
    font-weight: 400;
    color: #AAAAAA;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Box shadow yang lebih lembut */
    border-radius: 50px; /* Ubah border-radius agar sudutnya lebih halus */
    padding: 5px 20px; /* Tambahkan padding untuk membuat elemen lebih besar */
    background-color: #fff;
}

.google-login img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
}

.google-login span {
    line-height: 50px; /* Samakan line-height dengan tinggi gambar untuk memusatkan teks secara vertikal */
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap; /* Mencegah teks pecah ke baris baru */
    color: #000;
}

.input-box {
    height: auto; /* Ubah dari 50px ke auto untuk menyesuaikan dengan konten */
    width: 100%;
    margin: 10px 0;
    text-align: left; /* Ensure the container aligns text to the left */
}

.input-box label {
    font-size: 14px;
    color: #404852;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left; /* Ensure the label text aligns to the left */
    display: block; /* Make the label take the full width of the container */
}

.input-box input,
.input-box textarea {
    height: 40px; /* Sesuaikan tinggi input */
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    resize: none;
    border: 1px solid #DEDEDE;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group .form-control {
    flex: 1;
}

.input-group .btn {
    margin-left: -1px; /* Hilangkan margin antara input dan tombol */
}

.btn-login{
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 100%;
    height: 34px;
    border-radius: 100px;
    padding: 0 12px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(210, 180, 140, 0.5);
    outline: none; 
    border: none;
}

.btn-login:hover{
    color: black;
    background-color: #BFA47F;
}

.btn-login:active{
    color: black;
    background-color: #BFA47F;
}

.register p{
    font-size: 14px;
    font-weight: 400;
    color: #AAAAAA;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator span{
    font-size: 14px;
    font-weight: 400;
    color: #AAAAAA;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.alert-register-success{
    background-color: #B8EFCF;
    color: #219653;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.alert-error-message{
    background-color: #FCCECE;
    color: #F24848;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}