body {
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
}

/* ----- Main Content -----*/
.main-content {
    margin-top: 150px;
    margin-bottom:50px;
}

.btn.button-back {
    color: #D2B48C;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.btn.button-back i {
    color: #D2B48C;
    margin-right: 20px;
}
.produk-order {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
}

.produk-order h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.produk-list{
    width: 100%;
}

.produk-item {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.produk-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 8px;
    flex-shrink: 0; /* Prevent shrinking */
}

.produk-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.produk-info h5 {
    font-size: 16px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0; /* Remove default margin */
}

.produk-info p {
    font-size: 14px;
    color: #828282;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

.alamat-pengiriman{
    background-color: #fff;
    padding: 20px;
}

.alamat-pengiriman .address-title{
    font-size: 16px;
    color: #D2B48C;
    display: flex;
    align-item: left;
}

.address-title h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #D2B48C;
}

.icon-spacing{
    margin-right: 15px;
}

.alamat-pengiriman .name-phone{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.alamat-pengiriman .address{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.jasa-pengiriman{
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;
}

.jasa-pengiriman .courier-title{
    font-size: 18px;
    font-weight: 500;
    color: #D2B48C;
    display: flex;
    align-item: left;
}

.courier-title h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #D2B48C;
}

h2{
    color: black;
    font-family: 'playfair display', sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.catatan {
    font-size: 12px;
    color: #828282;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.note-date label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #404852;
    font-weight: 600;
    margin-bottom: 5px;
}

.note-date textarea{
    margin-bottom: 30px;
}

.pengiriman {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 360px;
    height: auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.pengiriman h5{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.alamat-pengiriman label{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #404852;
    font-weight: 600;
}

.alamat-pengiriman input,
.alamat-pengiriman select{
    margin-top: 5px;
    margin-bottom: 5px;
}

.pilihan-kurir{
    margin-top: 10px;
}

.pilihan-kurir label{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}



.jumlah-pembayaran {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 360px;
    height: auto;
}

.jumlah-pembayaran h5 {
    font-size: 20px;
    font-family: 'playfair display', sans-serif;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-bottom: 25px;
}

.total-harga, .jumlah-harga{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.total-harga p{
    margin: 0;
}

.total-harga .text{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    olor: #828282;
}

.total-harga .harga{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #828282;
}

.jumlah-harga  .text{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    olor: #404852;
}

.jumlah-harga .harga{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #958063;
}

.payment{
    background-color: #fff;
    padding: 20px;
}

.payment-title h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #D2B48C;
}

.jenis-pembayaran {
    width: 100%;
    border-collapse: collapse;
}

.jenis-pembayaran th, .jenis-pembayaran td {
    padding: 8px;
    text-align: left;
}

.jenis-pembayaran th{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.jenis-pembayaran td {
    border: none; /* Menghilangkan garis antar sel */
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.upload-bukti h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}


.btn-pesan{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 100%;
    height: 46px;
    border-radius: 100px;
    margin-top: auto;
    box-shadow: 0 2px 5px #D2B48C;
}

.btn-pesan:hover{
    background-color: #D2B48C;
}

.btn-bukti{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 30%;
    height: 46px;
    border-radius: 100px;
    margin-top: auto;
    box-shadow: 0 2px 5px #D2B48C;
    align-items: end;
}

.btn-bukti:hover{
    background-color: #D2B48C;
}
/* ----- Main Content -----*/