
/* ----- Main Content -----*/
.main-content {
    margin-top: 150px;
    margin-bottom:50px;
}

.btn.button-back {
    color: #D2B48C;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.btn.button-back i {
    color: #D2B48C;
    margin-right: 20px;
}

.header h2{
    color: black;
    font-family: 'playfair display', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.header p{
    color: #AAA;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.produk-filter {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.produk-filter .dropdown-menu {
    position: absolute; /* Atur posisi menjadi absolute */
    right: 0; /* Posisi ke ujung kanan kontainer */
    top: 100%; /* Posisi di bawah tombol dropdown */
    transform: translateX(0); /* Mengatur posisi horizontal */
    z-index: 1000; /* Pastikan dropdown berada di atas konten lain */
}

.jumlah-karakter-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
}


.dropdown .btn{
    background-color: white;
    box-shadow: 0 0 0 1px #DEDEDE;
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.produk {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 30px;
}

.produk-card{
    margin-bottom: 30px;
}

.card{
    width: 100%;
    height: 213px;
    border-radius: 12px;
    box-shadow: 0 0 0 3px #DBC3A3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produk-card img{
    width: 100%;
    height: 167px;
    object-fit: cover;
    border-radius: 12px;
}

.card-body{
    position: absolute; /* Add absolute positioning */
    top: 110px; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(210, 180, 140, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.card-body h5{
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.card-body p{
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #404852;
}

.button-pilih {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 140px;
    height: 23px;
    border-radius: 100px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-pilih:hover {
    background-color: #D2B48C;
}

.btn.disabled, .btn:disabled {
    background-color: #DEDEDE;
    color: #AAA;
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid #dcdcdc;
    opacity: 0.5;
    filter: none;
}


.rekap-pilihan{
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    width: 360px;
    height: auto;
}

.rekap-pilihan h5{
    font-size: 20px;
    font-family: 'playfair display', sans-serif;
    font-weight: 700;
    text-align: center;
    color: black;
}

.jenis-pilihan{
    margin-top: 15px;
}

.jenis-pilihan .text{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #404852;
    margin-bottom: 0px;
}

.jenis-pilihan .harga{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #828282;
}

.karakter-pilihan {
    display: flex;
    flex-direction: column;
}

.text-jumlah {
    display: flex;
    justify-content: space-between;
}

.karakter-pilihan .text{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #404852;
    margin-bottom: 0px;
}

.karakter-pilihan .jumlah{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #AAAAAA;
}

.karakter-pilihan .catatan{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #828282;
    margin-top: -10px; 
}

.total-harga {
    display: flex;
    justify-content: space-between;
}

.total-harga p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #404852;
}

.total-harga .harga{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #584C3B;
}

.button-pesan {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 150px;
    height: 33px;
    border-radius: 100px;
    margin-top: auto;
}

.button-pesan:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 150px;
    height: 33px;
    border-radius: 100px;
    margin-top: auto;
}

.button-keranjang {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #D2B48C;
    background-color: white;
    width: 150px;
    height: 33px;
    border-radius: 100px;
    margin-top: auto;
    box-shadow: 0 0 0 1px #D2B48C;
}

.button-keranjang:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 150px;
    height: 33px;
    border-radius: 100px;
    margin-top: auto;
}
/* ----- Main Content -----*/


/* Modal (Pop Up) */
.modal-body {
    display: flex;
    flex-direction: column; /* Mengatur elemen menjadi kolom */
}

.modal-body .d-flex {
    align-items: center; /* Menyelaraskan foto dan informasi karakter di tengah */
}

/* Menghilangkan garis bawah pada judul */
.modal-header .modal-title {
    border-bottom: none; /* Hilangkan border bawah jika ada */
}

.modal-title{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.modal-body img {
    width: 126px;
    height: 126px;
    border-radius: 10px;
}

.modal-nama{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 30px; /* Mengurangi tinggi wrapper */
    width: 120px; /* Mengurangi lebar wrapper */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 3px;
    border: 1.5px solid #AAA;
    margin-top: 20px;
}

.wrapper span {
    width: 30%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.wrapper span.num {
    font-size: 14px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
    font-family: 'Montserrat', sans-serif;
}

.button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.catatan-title{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.note{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #AAA;
}

.form-control {
    margin-top: 10px; /* Menambah jarak di atas textarea jika perlu */
}

.modal-footer{
    display: flex;
    justify-content: space-between; 
}

.btn-simpan {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #D2B48C;
    width: 150px;
    height: 33px;
    border-radius: 100px;
    margin-top: auto;
}

.btn-simpan:hover {
    background-color: #D2B48C;
}

.btn-outline-danger{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 150px;
    height: 33px;
    border-radius: 100px;
    margin-top: auto;
}
/* Modal (Pop Up) */



/* ----- FOOTER -----*/
.footer{
    background-color: #D2B48C;
    margin-top: 60px;
    padding-bottom: 40px;
    padding-top: 50px;
}
.footer-content{
    display: flex;
    flex-direction: column;
}
.footer-content h1{
    font-family: 'Montserrat' sans serif;
    font-size: 20px;
    font-weight: 600;
}
.footer-content a{
    font-family: 'Montserrat' sans serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}
.footer-content a:hover{
    color: #584C3B;
    font-weight: 400;
}
.sosial-media a {
    margin-right: 10px;
}
.sosial-media a:last-child {
    margin-right: 0; 
}
/* ----- FOOTER -----*/